<div class="large-8 large-centered columns">
  <div class="box">
    <div class="row">
      <div class="small-12 columns about-header">
        <img class="avatar" src="http://www.gravatar.com/avatar/e014abc3d5e067be58d85be2cb79609e.png" alt="Tiago Henriques">
        <h4 class="thin">Hi, my name is <strong>Tiago Henriques</strong>.</h4>
      </div>
    </div>
    
    <p>I'm an iOS developer based in Coimbra, Portugal currently writing code for <a href="http://www.wit-software.com/">WIT Software</a>. I go to great lengths to keep things simple. Sometimes I succeed, others I fail, but I always learn something in the process.</p>
    
    <ul class="inline-list">
      <!--
      <li><a href="/blog">Blog</a></li>
      -->
      <li><a href="https://twitter.com/Tiagomnh">Twitter</a></li>
      <li><a href="https://github.com/tiagomnh">GitHub</a></li>
      <li><a href="http://stackoverflow.com/users/646367/tiago">StackOverflow</a></li>
      <li><a href="http://instagram.com/tiagomnh">Instagram</a></li>
      <li><a href="http://pt.linkedin.com/pub/tiago-henriques/16/b45/1b8">LinkedIn</a></li>
    </ul>

  </div>
</div>
