<div class="large-8 large-centered columns">
  <div class="box">
    <h4>Personal projects</h4>
    <dl>
      <dt><a href="https://github.com/tiagomnh/THProgressView">THProgressView</a></dt>
      <dd>UIView subclass that mimics the progress bar of Twitter for iOS.</dd>
    </dl>
    <dl>
      <dt><a href="https://github.com/tiagomnh/urbandictionary-search">Urban Dictionary Search</a></dt>
      <dd>Google Chrome extension that scrapes definitions from Urban Dictionary.</dd>
    </dl>
    <dl>
      <dt><a href="https://github.com/tiagomnh/THCircularProgressView">THCircularProgressView</a></dt>
      <dd>A configurable circular progress UIView.</dd>
    </dl>
    <dl>
      <dt><a href="https://itunes.apple.com/us/app/fluky/id647708278?mt=8">Fluky</a></dt>
      <dd>Beautiful and simple iOS app for all your random generation needs.</dd>
    </dl>
  </div>
</div>
